# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv/
venv/
ENV/
env/

# Operating System
.DS_Store
Thumbs.db

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo